<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script>
  window.logo = "<%= image_path("logo.png") %>"
  window.movie = "<%= image_path("movie.mp4") %>"
  window.play = "<%= image_path("play.png") %>"
  window.pause = "<%= image_path("pause.png") %>"
  window.defaultUser = "<%= image_path("user.png") %>"
  window.nature1 = "<%= image_path("nature1.jpg") %>"
  window.nature2 = "<%= image_path("nature2.jpg") %>"
  window.mainpic = "<%= image_path("mainpic.png") %>"
</script>

<div id="root">
</div>
